git init
echo "venv/" >> .gitignore
echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
echo "*.sqlite3" >> .gitignore
echo ".DS_Store" >> .gitignore
echo "migrations/" >> .gitignore
echo "poetry.lock" >> .gitignore
git add .
git commit -m "Initial commit"